In [6]:
n = input()
m = input()
o = input()

print('%s\n%s\n%s'%(n,m,o))

df
sdf
sdf
df
sdf
sdf

In [12]:
n = eval(input())
m = eval(input())

for i in range(1,n+1) :
    for j in range(1,m+1):
        print('%d*%d=%2d'%(i,j,i*j),end=' ')
    print()

5
6
1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5 1*6= 6
2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30

In [17]:
short = {'NTU':'台灣大學','TW':'台灣','112':'台大ip','CSIE':'資工系','Train':'訓練班'}
eval(input())

print("%(TW)s的%(NTU)s有個%(CSIE)s, %(Train)s最棒了, 112是%(112)s" %short)
台灣的台灣大學有個資工系, 訓練班最棒了, 112是台大ip

In [1]:
n = input()

if n.isdigit():
    print('n=%s'%n)
else : 
    print('is not a number')

24
n=24

In [2]:
s = input()
f = input()
ct = -1         # ct 值要以 -1 的形式開始
while True : 
    ct =s.find(f,ct+1)
    if ct != -1 :
        print(ct)
    else : 
        break

A friend in need is a friend indeed.
friend
2
22

In [4]:
n = input()
print(n.upper())

jdfsdjf
JDFSDJF

In [9]:
n = input()
m = input()

if n > m : 
    print('1>2')
elif n == m : 
    print('1==2')
else :
    print('1<2')
o = n+m
print(n+m)
print(len(o))

abc
abc
1=2
abcabc
6